<br>
<br>
<br>
<div class="layui-container">

  <div class="layui-row">
    <div class="layui-col-md4 layui-col-md-offset4">
      <input class="layui-input" [(ngModel)]="userId" (blur)="checkUserInf()" placeholder="用户名">
    </div>
  </div>
  <br>
  <br>

  <div class="layui-row">
    <div class="layui-col-md4 layui-col-md-offset4">
      <input class="layui-input" type="password" [(ngModel)]="userPasswd" (blur)="checkUserInf()" placeholder="密码">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div calss="layui-row">
      <button class="{{loginButtonSty}}" (click)="login(userId,userPasswd)">{{loginInf}}</button>
  </div>
  <br>
  <br>
  <br>

  <div class="layui-row">
    <button class="layui-btn layui-btn-normal layui-col-md4 layui-col-md-offset4">注册</button>
  </div>

  <button (click)="print()">shuchu</button>

</div>